{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">  
        <div class="row">
           <h2>{{title}}</h2> 
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-lg-3 -->  
    <div class="col-lg-9"> 
        <div class="row">   X 
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
</div>
<div class="row">
    <div class="col-lg-3">  
        <div class="row"> X
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-lg-3 -->  
    <div class="col-lg-9"> 
        <div class="row p-6">
            {%if registered %}
                <strong>Gracias por Registrarte!</strong>
                <a href="{% url 'index' %}">Volver al Inicio.</a><br />
            {% else %}
                <strong>Regístrate Aquí!</strong><br />
                <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <!-- Display each form -->
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                
                    <!-- Provide a button to click to submit the form. -->
                    <input type="submit" name="submit" value="Registrarse" />
                </form>
            {% endif %}        
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->    
</div>
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
