<style>
    .dropdown-menu {
        left: auto;
    }
</style>
<a class="navbar-brand" href="/">Diabla Roja Shop</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="nav-item">
            <a id="btnGroupDrop1" class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="{% url 'product_home' %}">Todos Productos</a>
                <a class="dropdown-item" href="{% url 'product_lanzamientos' %}">Próximo Lanzamiento</a>
                <a class="dropdown-item" href="{% url 'product_nuevos' %}">Nuevos</a>
                <a class="dropdown-item" href="{% url 'product_rebajados' %}">Rebajados</a>
                <a class="dropdown-item" href="{% url 'product_descatalogados' %}">Descatalogados</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'fabricante_home' %}">Marcas</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'category_home' %}">Categorías</a></li>
        {% if user.is_authenticated %}            
            <li class="nav-item"><a class="nav-link" href="/admin/" target="_blank">Admin</a></li>     
            <li class="nav-item"><a class="nav-link" href="{% url 'externo_home' %}">Externo</a></li> 
            <li class="nav-item">
                <a id="btnGroupDrop2" class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hola, {{ user.username }}</a>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                    <a class="dropdown-item" href="{% url 'myprofile' %}">Mi Perfil</a>
                    <a class="dropdown-item" href="#">Mis Pedidos</a>
                    <a class="dropdown-item" href="{% url 'auth_password_change' %}">Change Password</a>
                    <a class="dropdown-item" href="{% url 'auth_password_reset' %}">Reset Password</a>
                    <a class="dropdown-item"> Nº Visitas: {{ visits }}</a>   
                    <a class="dropdown-item" href="{% url 'auth_logout' %}?next=/">Cerrar Sesión</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a id="btnGroupDrop3" class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zona Privada</a>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                    <a class="dropdown-item" href="{% url 'login' %}">Cuentas Acceder</a> 
                    <a class="dropdown-item" href="{% url 'register' %}">Cuentas Registrarse</a>
                    <a class="dropdown-item" href="{% url 'auth_login' %}">Registration Acceder</a> 
                    <a class="dropdown-item" href="{% url 'registration_register' %}">Registration Registrarse</a>
                </div>
            </li>
        {% endif %}
        <li class="nav-item">
            <a id="btnGroupDrop9" class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Otros</a>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop9">
                <a class="dropdown-item" href="restricted/">Página Restringida</a>
                <a class="dropdown-item" href="templateshop/">TemplateShop</a>
                <a class="dropdown-item" href="/blog/">Blog</a>
                <a class="dropdown-item" href="{% url 'about' %}">About</a>
                <a class="dropdown-item" href="{% url 'phpmyadmin' %}" target="_blank">PHPMyAdmin</a>
                <a class="dropdown-item" href="#">Services</a>
                <a class="dropdown-item" href="#">Contact</a>
            </div>
        </li>
    </ul>
</div>