{% if fichas %}
    {% for ficha in fichas %}
        <!--<li class="list-group-item text-right" >--><!--danger-->
            <a class="list-group-item list-group-item-action text-right list-group-item-default"  style="min-height: 50px; padding-top:5px"
                href="{% url 'product_detail' pk=ficha.product_id.pk %}" title="{{ ficha.title }}">
                <img class="float-right" height="50px" src="{{ ficha.src }}" alt="{{ ficha.title }}" title="{{ ficha.title }}">
                <p clas="col-xs-8">{{ ficha.title }}</p>
            </a>
        <!--</li>-->
    {% endfor %}
{% else %}
    <p></p>
{% endif %}
