{% load staticfiles %}
<html lang="es">
	<head>
        <meta charset="ISO-8859-15">
		<title>Diabla Roja Shop</title>		 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}/">
		<link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster|Quicksand|Work+Sans&subnet=latin,latin-ext" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/shop.css' %}">
	</head>
	<body>
		<div class="page-header">
            <a href="{% url 'product_test' %}" class="top-menu">
				<span class="glyphicon glyphicon-ok"></span>Test</a>
			<a href="{% url 'externo_list' %}" class="top-menu">
				<span class="glyphicon glyphicon-cloud-download"></span>Download</a>
            <h1><a href="/">
                <img src="{% static 'diablaroja.png' %}" alt="Diabla Roja Shop" width="10%">
                Diabla Roja Shop</a></h1>
		</div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		<footer>
			<a href="https://en.wikipedia.org/wiki/Django" 
				class="external_link" id="link_to_wiki_page">
				Wiki Django</a>
		</footer>
	</body>
</html>