{% load staticfiles %}
<html lang="es">
	<head>
        <meta charset="ISO-8859-15">
		<title>Diabla Roja Shop</title>		 
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="sex shop diabla roja">
		<meta name="author" content="hakys">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}/">
		<link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
		<!--		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>				
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static 'js/ajax.js' %}"></script>
		<link href="https://fonts.googleapis.com/css?family=Lobster|Quicksand|Work+Sans&subnet=latin,latin-ext" rel="stylesheet">

		<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
		<link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
		<link href="{% static 'css/shop.css' %}" rel="stylesheet">
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
			<div class="container" style="min-width: 400px">
				<div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="{% static 'img/diablaroja.png' %}" alt="Diabla Roja Shop" width="50">
					Diabla Roja Catálogo</a>
				</div>
				<div class="collapse navbar-collapse pt-3" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/">Inicio
						  		<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/" target="_blank">Admin</a></li> 
						<li class="nav-item">
							<a class="nav-link" href="{% url 'product_test' %}">Test</a></li> 
						<li class="nav-item">
							<a class="nav-link" href="{% url 'externo_list' %}">Externo</a></li> 
						<li class="nav-item">
							<a class="nav-link" href="{% url 'fabricante_home' %}">Marcas</a></li> 			
						<!--  
						<li class="nav-item">
							<a class="nav-link" href="#">About</a></li>
					  	<li class="nav-item">
							<a class="nav-link" href="#">Services</a></li>
					  	<li class="nav-item">
							<a class="nav-link" href="#">Contact</a></li>
						-->
						<li class="nav-item">
							<form class="nav-item navbar-form">
								{% csrf_token %}
								<div class="input-group input-group-sm">
									<input type="text" class="form-control" placeholder="Buscar" id="search" name="search">
									<div class="input-group-btn">
										<button class="btn btn-default" type="submit">
											<span class="glyphicon glyphicon-search">X</span>
										</button>
									</div>
								</div>	
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="content container float-left mt-3" style="width:400px">		
			{%if salida%}
				<div class="alert alert-success alert-dismissible">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Success!</strong>{{salida|safe}}
				</div>
			{% endif %}	
			<ul id="alert-results" class="list-group list-group-xs"></ul>
		</div>
		<div class="content container float-right" style="width:400px">
			<ul id="search-results" class="list-group list-group-xs"></ul>
		</div>
		<div class="content container ">	
			<div class="row">
				<div class="col-md-8 mt-4">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		<footer>
			<a href="https://en.wikipedia.org/wiki/Django" 
				class="external_link" id="link_to_wiki_page">
				Wiki Django</a>
		</footer>
		<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	</body>
</html>