{% load static %}
<div class="center_column col-xs-12" >  
    {% if fichas_cat_grid %}
        <div class="row">
            <h5 class="my-2 w-100">{{ title_cat_grid }}</h5>                  
            <div class="row m-0">
                {% for ficha in fichas_cat_grid %}
                    <div class="col-lg-3 mb-1 p-1">
                        <div class="card" data-ref="{{ ficha.slug }}" role="link">
                            <div class="card-body text-center"><a href="{{ ficha.slug }}">
                                <h5>{{ ficha.name }}</h5></a>
                            </div>
                            {{ficha.product_set.all.count }} productos
                            <!--
                            <a href="{{ ficha.slug }}" >
                                <img width="50px" height="50px"
                                {% if ficha.image.url %}
                                    src="{{ ficha.image.url }}" 
                                {% else %}
                                    src="{% static 'img/no-foto.jpg' %}"
                                {% endif %}
                                    alt="{{ ficha.name }}" title="{{ ficha.name }}"></a>
                            -->
                        </div>
                    </div>
                {% endfor %}
            </div>                    
        </div>     
    {% endif %}
</div>


   
