{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    {{todo.len}}
    {% if todo %}  
        <h1>Lista Origen de Datos</h1>    
        {% for ficha in todo %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h2><a href="{% url 'externo_detail' pk=ficha.pk %}">{{ ficha.name }}</a></h2>
                    <p class="date">Actualizado: {{ ficha.updated_date|date:"d/m/Y, H:i " }}
                        <a class="btn btn-link" href="{% url 'externo_importar' pk=ficha.pk %}">Importar </a>
                        <a class="btn btn-link" href="{% url 'externo_procesar' pk=ficha.pk %}">Procesar</a>
                    </p>
                </div> 
            </div>
        {% endfor %}
    {% else %}
        <h1><a href="{% url 'externo_dreamlove' %}">Iniciar Fichero</a></h1>
    {% endif %}
{% endblock %}