{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <style>
        ul li{
            list-style:none;
        }
    </style>
    <div class="row product"> 
        <div class="pb-left-column col-xs-12 col-sm-4 col-md-4">              
            <img class="img-responsive img-homepage" src="{% static 'img/logo.png' %}" alt="{{ externo.name }}" >
        </div> 
        <div class="pb-center-column col-xs-12">   
            <h1>{{ externo.name }}</h1> 
            <ul>
                <li><a href="{{ externo.url }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span> URL Dream Love</a></li>
                <li>Tamaño: {{ tamano|floatformat:2}} Mb.</li>
                <li>Actualizado: {{ externo.updated_date|date:"d/m/Y, H:i " }}</li>
            </ul>
            <ul>
                <h5>Contenido Fichero</h5>
                <li>Nº No Actualizados: {{ no_updated }}</li>
                <li>Nº Productos: {{externo.n_productos}}</li>
                <li>Nº Fabricantes: {{externo.n_fabricantes}}</li>
                <li>Nº Imagenes: {{externo.n_imagenes}}</li>
                <li>Nº Categorias: {{externo.n_categorias}} </li>
            </ul>
            <ol>
                <h5>Proceso Actualización</h5>
                <li><a class="btn btn-default" href="{% url 'externo_importar' pk=externo.pk %}">Importar Fichero</a></li> 
                <li><a class="btn btn-default" href="{% url 'externo_procesar_productos' pk=externo.pk %}">Procesar Productos</a></li> 
                <li><a class="btn btn-default" href="{% url 'externo_procesar_fabricantes' pk=externo.pk %}">Procesar Fabricantes</a></li> 
                <li><a class="btn btn-default" href="{% url 'externo_procesar_imagenes' pk=externo.pk %}">Procesar Imagenes</a></li>    
                <hr>          
                <li><a class="btn btn-default bt-lg" href="{% url 'externo_cron' %}" aria-hidden="true">
                    <span class="glyphicon glyphicon-time"></span>
                    Proceso Automático CRON</a></li>         
            </ol>
            <!--Size: {{externo.file.size}} byte Path [{{externo.file.path}}] -->
        </div>
    </div>
{% endblock %}