<div class="row">  
    {% if todo %}   
        {% for ficha in todo %}
            <div class="col-lg-9">
                <h2><a href="{% url 'externo_detail' pk=ficha.pk %}">{{ ficha.name }}</a></h2>
                <p class="date">Actualizado: {{ ficha.updated_date|date:"d/m/Y - H:i " }} 
                    <a class="btn btn-link" href="{% url 'externo_importar' pk=ficha.pk %}">Importar Fichero</a>
                </p>
            </div> 
        {% endfor %}
    {% else %}
        <h3>No Hay Datos Iniciales</h3>
    {% endif %}
</div>
   