{% load static %}
<div class="center_column col-xs-12" >
    <div class="row">
        <h5 class="my-2 w-100">{{ title_fab_grid }}</h5>
        {% for ficha in fichas_fab_grid %}
            <div class="col-lg-6 h-50 mb-3 pr-1">
                <div class="card h-40">
                    <a href="{% url 'fabricante_detail' slug=ficha.slug %}">
                        <img class="img-responsive mt-1 h-40" 
                        {% if ficha.image.url %}
                            src="{{ ficha.image.url }}" 
                        {% else %}
                            src="{% static 'img/no-foto.jpg' %}"
                        {% endif %}
                            alt="{{ ficha.name }}" title="{{ ficha.name }}">
                        <div class="card-img-overlay p-1 pr-2">
                            <h6 class="card-title">{{ ficha.name }}</h6>
                        </div>
                    </a>
                    <div class="card-body">
                        <p class="card-text text-right">
                            <a href="{% url 'fabricante_detail' slug=ficha.slug %}"> 
                                {{ ficha.fabricante.all.count }} productos
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <h4>· No hay {{title_fab_grid}} ·</h4>
        {% endfor %}
    </div>
</div>

   
