{% load static %}
<h4 class="my-4 w-100 text-center">
    <a href="{% url 'fabricante_home' %}">{{title_fab_select}}</a></h4>
<div class="list-group pr-2">
    {% for ficha in fichas_list %}
        <a href="{% url 'fabricante_detail' slug=ficha.slug %}" class="list-group-item p-0 pr-2">
            <img class="img-responsive w-30" width="30" 
                {% if ficha.image.url %}
                    src="{{ ficha.image.url }}" 
                {% else %}
                    src="{% static 'img/no-foto.jpg' %}"
                {% endif %}
                    alt="{{ ficha.name }}" title="{{ ficha.name }}">
            {{ ficha.name | upper }}
        </a>
    {% empty %}
        <h4>· No hay {{title_fab_select}} ·</h4>
    {% endfor %}
</div>    

