{% extends 'shop/base.html' %}
{% load static %}
{% block navbar %}
    {% include 'shop/navbar.html' %}
{% endblock %}
{% block content %}   
<div class="col-lg-3">
    {% if sub_fabricantes %}
        <div class="row">
            <h4>Marcas Asociadas</h4>
            <div class="list-group pr-2 text-lg">
                {% for ficha in sub_fabricantes %}
                    <a href="{{ ficha.slug }}" class="list-group-item p-0">
                        <img class="img-responsive w-30" width="30" 
                            {% if ficha.image.url %}
                                src="{{ ficha.image.url }}" 
                            {% else %}
                                src="{% static 'img/no-foto.jpg' %}"
                            {% endif %}
                                alt="{{ ficha.name }}" title="{{ ficha.name }}">
                        {{ ficha.name }}
                    </a>
                {% endfor %}
            </div>    
        </div> 
    {% endif %}
    <div class="row  mt-4">
        {% include 'shop/fabricante_list.html' %}
    </div>
</div>
<!-- /.col-lg-3 -->  
<div class="col-lg-9"> 
    <div class="row">
        <img class="img-fluid img-responsive" 
            {% if ficha.image.url %}
                src="{{ ficha.image.url }}" 
            {% else %}
                src="{% static 'img/no-foto.jpg' %}"
            {% endif %}
                alt="{{ ficha.name }}" title="{{ ficha.name }}">
        <div class="card-img-overlay">
            <h1>
                <ol class="breadcrumb" style="background-color:rgba(0, 0, 0, 0)">
                    {% if breadcrumbs %}
                        {% for slug,name in breadcrumbs %}
                            <li class="breadcrumb-item"><a href="{% url 'fabricante_detail' slug=slug %}">{{ name | upper }}</a></li>
                        {% endfor %}
                    {% endif %}        
                    <li class="breadcrumb-item active">
                        <strong >{{ ficha.name }}</strong>
                    </li>
                </ol>
            </h1>
        </div>
    </div>
    {% if fichas_prod %}
        <div class="row">
            {% include 'shop/nav_paginator.html' %}
        </div>
        <!-- /.row -->
        <div class="row">
            {% include 'shop/product_grid.html' %} 
        </div>
        <!-- /.row -->
    {% endif %}
</div>
<!-- /.col-lg-9 -->
{% endblock %}
{% block footer %}
    {% include 'shop/footer.html' %}
{% endblock %}