<div class="row-fluid">
    {% include 'shop/home_carousel.html' %}
</div><!-- /.row -->
<div class="col-lg-3">
    <h1 class="my-4">Sex Shop Diabla Roja</h1>
    <div class="row">
        {% include 'shop/category_list.html' %}
    </div><!-- /.row -->
    <div class="row">
        {% include 'shop/fabricante_select.html' %}
    </div><!-- /.row -->
</div>
<!-- /.col-lg-3 -->
<div class="col-lg-9">
    <div class="row">
        {% include 'shop/product_grid_home.html' %}
    </div>
    <!-- /.row -->
</div>
<!-- /.col-lg-9 -->