{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
	{% for ficha in todo %}
		<div class="row product">		               
			<div class="pb-left-column col-xs-12 col-sm-6 col-md-6">
                <img class="img-responsive img-homepage" src="{{ ficha.src }}" alt="{{ ficha.title }}" >
            </div>   
            <div class="pb-center-column col-xs-12 col-sm-6 col-md-5">
                <h2><a href="{% url 'product_detail' pk=ficha.product_id.pk %}">{{ ficha.title }}</a></h2>
                <p>
                    <span class="date">Actualizado: {{ ficha.product_id.updated|date:"d/m/Y, H:i" }}</span>
                </p>
            	
                <a href="{{ ficha.product_id.product_url }}" target="_blank">              
                    <span class="glyphicon glyphicon-new-window"></span></a>               
            </div> 
        </div>
	{% endfor %}
{% endblock %}