{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <style>
        .list-group-item {
            padding: .25rem 1rem;
            border: 0px solid rgba(0,0,0,.125);
        }
        h2 {
            font-size: 1.5rem;
        }
    </style>
    {% include 'shop/nav_marcas.html' %}
    <div class="row product"> 
        <div class="pb-left-column col-xs-12 col-sm-6 col-md-6">
            <ul class="nav nav-tabs" role="tablist">
                {% for image in images %}                    
                    <li class="nav-item">
                        <a data-toggle="tab" href="#{{ image.pk }}" class="nav-link{% if image.preferred %} active{% endif %}">
                            <img class="replace-2x img-responsive" src="{{ image.src }}" alt="{{ image.title }}"
                                title="{{ image.title }}" width="50">
                        </a>
                    </li>
                {% endfor %}
            </ul>                
            <div class="tab-content">
                {% for image in images %}
                    <div id="{{ image.pk }}" class="container tab-pane {% if image.preferred %}active{% else %}fade{% endif %}">
                        <img class="replace-2x img-responsive" src="{{ image.src }}" alt="{{ image.title }}"
                            title="{{ image.title }}" width="100%">
                    </div>
                {% endfor %}
            </div>
        </div>   
        <div class="pb-center-column col-xs-12 col-sm-6 col-md-5">
            <h2>{{ product.title }}</h2> 
            <h5>({{ product.description }})</h5>
            <div class="content_date">
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Creado: {{ product.created_date|date:"d/m/Y, H:i" }}</li>
                <li class="list-group-item">Actualizado: {{ product.updated|date:"d/m/Y, H:i" }}</li>
                <li class="list-group-item">Lanzamiento: {{ product.release_date|date:"d/m/Y, H:i" }}</li>
                </ul>
            </div>
            <span><a href="{{ product.product_url }}" target="_blank">{{ product.ref }}</a></span> 
            <span>{% if product.available %} No {% endif %} Disponible</span>            
            <div class="content_price"> 
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Coste: {{ product.cost_price }} € </li> 
                <li class="list-group-item">IVA: {{ product.vat }} % </li> 
                <li class="list-group-item">Precio {{ product.unit_of_measurement}}: {{ product.price }} € </li>
                <li class="list-group-item">Recomendado: {{ product.recommended_retail_price }} € </li>
                <li class="list-group-item">Coste Envío {{ product.delivery_desc}}: {{ product.default_shipping_cost }} € </li>
                </ul>
            </div>
            <span class="manufacturer"> 
                <a href="/fabricante/{{ product.fabricante.slug }}/"> 
                    <img class="card-img-fab" height="40px"
                        {% if ficha.image.url %}
                            src="{{ product.fabricante.image.url }}" 
                        {% else %}
                            src="{% static 'img/no-foto.jpg' %}"
                        {% endif %}
                        alt="{{ product.fabricante.title }}" title="{{ product.fabricante.title }}">
                    <strong>{{ product.fabricante.name }}</strong> 
                </a> 
            </span>  
        </div>
        <div class="row ident">
            <div class="pb-center-column col-xs-12">
                <div class="rte text-justify">
                    <p>{{ product.html_description|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}