{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <style>
    .card-body {
        padding: 0.25rem;
    }
    .card-title{
        font-size:1rem;
    }
    .card-text{
        font-size:0.75rem;
        line-height: 1.25;
    }
    .card-img-top{
        padding: 0.20rem 0.5rem;
    }
    .card-img-fab{
        min-height: 30px;
    }
    </style>
    <div class="product row">
        <div class="center_column col-xs-12" >
            <div class="row">
                {% for ficha in fichas %}
                    <div class="col-lg-3 col-md-4 mb-3">
                        <div class="card">
                            <a href="{% url 'product_detail' pk=ficha.product_id.pk %}">
                                <img class="card-img-top"  src="{{ ficha.src }}" alt="{{ ficha.title }}" title="{{ ficha.title }}"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{% url 'product_detail' pk=ficha.product_id.pk %}">{{ ficha.title | truncatechars:40 }}</a>
                                </h4>
                                <h5 class="text-right">{{ ficha.product_id.price }} €</h5>
                                <p class="manufacturer text-center"> 
                                    <a href="/fabricante/{{ ficha.product_id.fabricante.slug }}/">
                                        <img class="card-img-fab" height="30px"
                                            {% if ficha.image.url %}
                                                src="{{ ficha.product_id.fabricante.image.url }}" 
                                            {% else %}
                                                src="{% static 'img/no-foto.jpg' %}"
                                            {% endif %}
                                            alt="{{ ficha.product_id.fabricante.name }}" title="{{ ficha.product_id.fabricante.name }}>"
                                        <strong>{{ ficha.product_id.fabricante.name }}</strong> 
                                    </a> 
                                </p>  
                            </div>
                            <!--<div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>-->
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}