{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <div class="row product"> 
        <div class="col-md-12"><h1>{{ product.title }}</h1></div>    
        <div class="col-md-4">          
            <img class="img-responsive img-homepage" src="{{ product.src }}" 
                    alt="{{ product.title }}" >
        <div class="col-md-6">        
            <p>{{ product.description|linebreaksbr }}</p>
        </div>
        <div class="col-md-6">
            <p>{{ product.ref }}</p>
        	{% if product.available %} 
                OK<span class="btn btn-default glyphicon glyphicon-ok"></span>                   
			{% else %}
				X<span class="btn btn-default glyphicon glyphicon-remove"></span>  
			{% endif %}  
            {{ product.title }}
        </div>
    </div>
{% endblock %}